/*
  Pagination

  Super lightweight (HTML-wise) blog pagination. Should only be visible
  when there is navigation available -- single buttons at top or bottom
  of each page.
*/

.pagination {
  margin-bottom: $section-spacing;
  color: $gray-3;
  text-align: center;

}

// Bottom -> margin-top;
* + .pagination {
  margin-top: $section-spacing;
}

// Push above header if newer on mobile
.content .pagination:first-child {
  //margin-top: -$section-spacing * 2;
}

// Undo for larger screens
@media (min-width: $large-breakpoint) {
  .content .pagination:first-child {
    margin-top: 0;

    + * {
      padding-top: $section-spacing;
      border-top: 1px solid $border-color;
      margin-top: $section-spacing;
    }
  }

  .index #sidebar {
    padding-bottom: $section-spacing;
  }
}
